:root {
  --logo-blue: #0f4264;
  --grey: #aeaeae;
  --light-grey: #e5e5e5;
  --red: #d02323;
  --green: #26b14d;
  --lighter-black: #404040;
  --orange: #fcae73;
  --light-orange: #ffeada;
  --blue: #197BBD;
  --lighter-grey: rgba(196, 196, 196, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  padding: 0 5rem;
  width: 100%;
  box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.1);
}

footer {
  width: 100%;
  margin-top: 40px;
  padding: 20px 0;
  font-size: 1.1rem;
  text-align: center;
  background-color: #f8f8f8;
}

footer span {
  font-weight: bold;
}

footer span a {
  text-decoration: none;
  color: var(--lighter-black);
}

footer span a:visited {
  color: var(--lighter-black);
}

.appName {
  font-family: "Quicksand", sans-serif;
  font-size: 2.1rem;
  color: var(--logo-blue);
  padding: 1rem;
}

.menu {
  display: flex;
  margin-left: auto;
  padding: 1rem;
}

.menu__icons {
  margin: 1rem;
}

.menu_avatar {
  margin: 1rem;
  border: 1px solid black;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--lighter-black);
  font-size: 1.4rem;
  font-weight: 700;
}

.userInfo__role {
  color: var(--grey);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  width: 100%;
  background-color: var(--light-grey);
}

.card {
  border-radius: 28px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;
}

h1 {
  color: var(--lighter-black);
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

.subtitle {
  color: var(--grey);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section_title {
  color: var(--lighter-black);
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.section_table table {
  width: 95%;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 20px auto 20px auto;
  /* color: var(--grey); */
  border-collapse: collapse;
}

.section_table table tr {
  height: 30px;
  border-bottom: 1px solid var(--grey);
  text-align: center;
}

.section_table table th {
  font-weight: 700;
  text-align: center;
}

.section_table table tr .table_name,
.table_amount {
  font-weight: 700;
  color: var(--lighter-black);
}

/* .table_amount--type-expenditure::before {
  content: "-";
} */

.table_amount--type-expenditure {
  color: var(--red);
}
.table_amount--type-income {
  color: var(--green);
}

.btn-delete::after {
  content: url("/assets/trash.svg");
}

.inputblock {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.5px;
  text-align: left;
}

input,
select {
  display: inline;
  background: var(--lighter-grey);
  border-radius: 9px;
  border-style: none;
  height: 3.5rem;
  text-align: center;
  width: 100%;
}

select {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

.addTransaction__btn {
  display: flex;
  justify-content: space-between;
}

.add__btn {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 8px;
  width: 48%;
}

.addTransaction__btn--expenditure {
  background-color: var(--red);
  margin-top: 1rem;
  cursor: pointer;
}

.addTransaction__btn--income {
  background-color: var(--green);
  margin-top: 1rem;
  cursor: pointer;
}

.totals {
  text-align: center;
}

.total__title--expenditure {
  color: var(--red);
  font-size: 4rem;
}

.total__title--income {
  color: var(--green);
  font-size: 4rem;
}

.category_stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.category_icon,
.table_icon {
  background-color: var(--lighter-grey);
  padding: 1rem;
  border-radius: 3px;
}

.category_progress {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 1rem;
}

.category_name {
  color: var(--grey);
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.category_percent {
  color: var(--lighter-black);
  font-size: 2.4rem;
  font-weight: 600;
}

.hidden {
  display: none;
}

progress {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 0.9rem;

  /* Firefox */
  border: none;
  background: var(--lighter-grey);
  border-radius: 100px;
}

progress::-webkit-progress-bar {
  background: var(--lighter-grey);
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background-color: var(--blue);
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background-color: var(--blue);
  border-radius: 100px;
}

.msg {
  position: fixed;
  top: 200px;
  left: 50%;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 800;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
}

.msg-success {
  background-color: var(--green);
}

/*fade*/
.animate {
  opacity: 0;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate.active {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.slide-in-down {
  transform: translateY(-100%) translateX(-50%);
}

.grid {
  display: grid;
  grid-template-areas:
    "title title"
    "addTrans total_inc"
    "addTrans total_exp"
    "transactions categories";
  grid-auto-rows: auto;
  grid-template-columns: 60% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  min-width: 340px;
  max-width: 1024px;
  width: 90vw;
  margin: 20px;
}

.grid_transaction {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "amount category "
    "date name"
    "trans_btn trans_btn";
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

#title {
  grid-area: title;
}
#categories {
  grid-area: categories;
}
#totalIncome {
  grid-area: total_inc;
}
#totalExpenditure {
  grid-area: total_exp;
}
#addTransaction {
  grid-area: addTrans;
}
#transactions {
  grid-area: transactions;
}

#name {
  grid-area: name;
}
#amount {
  grid-area: amount;
}
#date {
  grid-area: date;
}
#category {
  grid-area: category;
}

#transaction_btn {
  grid-area: trans_btn;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 600px) {
  .grid {
    grid-template-areas:
      "title"
      "addTrans"
      "total_inc"
      "total_exp"
      "transactions"
      "categories";
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
  }

  .grid_transaction {
    grid-template-areas:
      "amount"
      "category"
      "date"
      "name"
      "trans_btn";
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
  }

  .userInfo,
  .menu__icons {
    display: none;
  }
  header {
    padding: 2rem;
  }
  .addTransaction__btn {
    flex-direction: column;
    align-items: center;
  }

  .table_icon {
    padding: 0rem;
  }

}
